@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal; */
  color: black;
}

#addNewEmpForm, #editEmpForm label {
  font-weight: bold;
  font-size: 20px;
}
#addNewEmpForm input, #addNewEmpForm select, 
#editEmpForm input, #editEmpForm select {
  padding: 5px;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  color: #000000;
}
.formFields {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
  gap: 20px;
}
.formFields input{
  display: block;
}
.submitEmp {
  padding: 10px 20px;
  background-color: #30a32e;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}
.submitEmp:hover {
  background-color: #134512;
  color: #ffffff;
}

.formfooter {
  display: flex;
  justify-content: space-between;
}

/*a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
